<section class="hero">
    <div class="grid hero-mobile">
        <div class="column two quote-parent">
          <div class="quote">
            <blockquote>
              “Marching mums was first setup after I had watched a documentary on
              the tv about ladies who sadly suffered with severe depression after giving
              birth.
              <br><br>
              I wanted to do something to make a difference to these women,
              so I decided to walk for charity.”
            </blockquote>
          </div>
          <nav class="quick-nav">
            <div class="nav-links">
              <a href="#read-more">Read More.</a>
              <a href="#donate">Jump to donation.</a>
            </div>
          </nav>
        </div>
        <div class="column mum-image"></div>
    </div>
</section>
